/* COMMON STYLES  */

.container {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1158px;
}

/* /COMMON STYLES  */

/* Third Section styles  */
.team-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        background-color: #f4f4fd;
        text-align: center;

        margin-bottom: 72px;
}

.team-textname {
        padding-top: 32px;
        background-color: #fff;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        border-radius: 0 0 4px 4px;
}

.team-card {
        flex-basis: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4D5AE5;
        width: 40px;
        border-radius: 50%;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover {
        background-color: #404BBF;
}

.svg-icon {
        fill: #F4F4FD;
}

.team-svg-box {
        display: flex;
        gap: 24px;
        margin-top: 8px;
        padding-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
}

.team-title {
        text-align: center;
        margin-bottom: 8px;
}

.team-text {
        text-align: center;
}

.team-list {
        display: flex;
        gap: 24px;
}

.team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-list .team-job {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-section {
        background-color: #f4f4fd;

        padding-top: 120px;
        padding-bottom: 120px;
}

/* /Third Section styles  */

/* Fourth Section styles  */
.portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.portfolio-main-title {
        line-height: 1.11;
        text-transform: capitalize;
        text-align: center;

        margin-bottom: 72px;
}

.portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-card-box {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        width: 360px;
}

.portfolio-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #4d5ae5;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

        padding-top: 40px;
        padding-left: 32px;
        padding-right: 32px;
}

.portfolio-img-box {
        position: relative;
        overflow: hidden;
}

.portfolio-item:hover .portfolio-overlay {
        transform: translateY(0%);
}

.portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        cursor: pointer;
}

.portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
        margin-bottom: 8px;
}

.portfolio-img {
        display: block;
}

/* /Fourth Section styles  */

/* Footer styles  */
.footer {
        background-color: #2e2f42;

        padding-top: 100px;
        padding-bottom: 100px;
}

.footer .footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-family: "Roboto", sans-serif;

        width: 264px;
}

.footer-logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        
        display: inline-block;
        width: 115px;

        margin-bottom: 16px;
}

.footer-logo .logo-part-two-two {
        color: #f4f4fd;
}

.footer-icons-box {
        display: flex;
        gap: 16px;

        margin-top: 16px;
}

.footer-box {
        display: flex;
}

.footer-link {
        display: block;
        background-color: #4D5AE5;
        width: 40px;
        border-radius: 50%;
        height: 40px;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
        background-color: #31D0AA;
}

.footer-icons-text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.footer-svg-box {
        margin-left: 120px;
}

.footer-icon {
        fill: #F4F4FD;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
}

.footer-email-input-box {
        margin-left: auto;
}

.subscribe-text {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
}

.footer-form {
        display: flex;
        gap: 24px;
}

.footer-email-input {
        width: 264px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;

        padding-left: 16px;
}

.footer-email-input::placeholder {
        color: #ffffff;
}

.footer-subscribe-button {
        min-width: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
        background-color: #404BBF;
}

.footer-button-icon {
        margin-left: 16px;
        fill: #ffffff;
}

/* /Footer styles  */

/* Backdrop styles  */
.backdrop {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(46, 47, 66, 0.4);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 408px;
        min-height: 584px;
        border-radius: 4px;

        transform: translate(-50%, -50%);

        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;

        padding: 72px 24px 24px 24px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
        transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-button {
        position: absolute;
        top: 24px;
        right: 24px;

        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cross {
        fill: #2E2F42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
        background-color: #404bbf;
        border: none;
}

.modal-close-button:hover .button-cross {
        fill: #FFFFFF;
}

.modal-close-button:focus .button-cross {
        fill: #FFFFFF;
}

.modal-text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;

        margin-bottom: 16px;
}

.form-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;

        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;

        margin-bottom: 4px;
}

.svg-input-box {
        position: relative;
}

.input-svg {
        position: absolute;
        top: 50%;
        left: 16px;
        margin: 0;
        padding: 0;
        fill: #2E2F42;

        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
        cursor: pointer;
}

.form-input:focus {
        outline: none;
        border-color: #4D5AE5;
}

.form-input:focus + .input-svg {
        fill: #4D5AE5;
}

.input-label-box {
        margin-bottom: 8px;
}

.textarea-label-box {
        margin-bottom: 16px;
}

.textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover {
        cursor: pointer;
}

.textarea:focus {
        border-color: #4D5AE5;
}

.checkbox-box {
        margin-bottom: 24px;
}

.checkbox-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.custom-checkbox {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        fill: transparent;

        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        margin-right: 8px;
}

.custom-checkbox:hover {
        cursor: pointer;
}

.checkbox:checked 
+ .checkbox-label 
> .custom-checkbox {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
}

.privacy-link {
        color: #4d5ae5;
        text-decoration: underline;
}

.modal-lower-button {
        display: block;
        min-width: 169px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;

        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lower-button:hover {
        background-color: #404bbf;
}